<ion-content>
  <div class="ruecaFlotante">
    <!-- <img src="/assets/images/ico-rueca.svg" alt="rueca" /> -->
  </div>
  <div class="boxLogin">
    <div class="boxLogin-body">
      <div class="boxLogin-logo">
        <!-- <img src="/assets/images/logo-negativo.svg" alt="logo" /> -->
      </div>
      <div>
        <div class="titleForm">
          <h2 (click)="provocarError()">Inicio de sesión</h2>
        </div>
        <form [formGroup]="formLogin">

          <div class="boxLogin-form">

            <div class="boxLogin-form-item">
              <i class="fal fa-user-circle"></i>
              <ion-input clear-input placeholder="Usuario" formControlName="user" (keypress)="eventHandler($event.keyCode, 'user')" [(ngModel)]="user"
                name="user"></ion-input>
            </div>

            <div class="boxLogin-form-item">
              <i class="fal fa-user-circle"></i>
              <ion-input clear-input style="-webkit-text-security:disc" placeholder="Contraseña" formControlName="password" (keypress)="eventHandler($event.keyCode, 'password')"
                [(ngModel)]="password" name="password"></ion-input>
            </div>

            <div class="mt30">
              <button (click)="doLogin()" class="boton degradado large w100">
                Entrar
              </button>
            </div>

          </div>
        </form>
      </div>
      <div class="boxLogin-footer">
        <p *ngIf="globalVar != undefined && globalVar != null">v{{globalVar.version}} | Powered by Fontventa</p>
      </div>
    </div>
  </div>
</ion-content>