<ion-app>

  <ion-split-pane contentId="main-content" when="(max-width: 575px)">
    <ion-menu contentId="main-content" class="menuCustom" type="overlay">
      <ion-content class="menuContentContainerCustom">
        <div class="menuContentCustom">
          <div class="box-top">
            <div class="boxTopMenu" *ngIf="api.logged">

              <div class="fav-icon">
                <i class="far fa-user"></i>
              </div>

              <div class="box-text" *ngIf="api.Login.usuario != null">
                <p class="nombre-menu">{{api.Login.usuario.NombreCompleto}}</p>
              </div>

            </div>
            <ion-list id="inbox-list" class="listMenu">

              <ion-menu-toggle auto-hide="false" *ngFor="let p of pages; let i = index">

                <ion-item class="itemMenu" (click)="selectedIndex = i; p.execute()" routerDirection="root" [routerLink]="[p.url]" lines="none"
                  *ngIf="p.visible && !p.boton" detail="false">
                  <div class="d-flex align-items-center justify-content-between w-100">
                    <div class="d-flex align-items-center " style="padding-left: 20px;">
                      <i class="{{p.icon}}"></i>
                      <ion-label class="ml-3">{{ p.title }}</ion-label>
                    </div>
                    <ion-icon name="chevron-forward"></ion-icon>
                  </div>
                  <ion-icon name="chevron-forward" style="display: none;"></ion-icon>
                </ion-item>

                <ion-item class="itemMenu" (click)="selectedIndex = i; p.execute()" lines="none" *ngIf="p.visible && p.boton" detail="false">
                  <div class="d-flex align-items-center justify-content-between w-100">
                    <div class="d-flex align-items-center " style="padding-left: 20px;">
                      <!--<ion-icon slot="start" [name]="p.icon"></ion-icon>-->
                      <i class="{{p.icon}}"></i>
                      <ion-label class="ml-3">{{ p.title }}</ion-label>
                    </div>
                    <ion-icon name="chevron-forward"></ion-icon>
                  </div>
                  <ion-icon name="chevron-forward" style="display: none;"></ion-icon>
                </ion-item>

              </ion-menu-toggle>

            </ion-list>
          </div>
          <div>
            <div class="footerMenu">
              <div class="box-text">
                <p>
                  v {{version}} | &#169; Sagratec
                </p>
              </div>
            </div>
          </div>
        </div>

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content" [swipeGesture]="true">
      <div class="spinner-container spinnerCustom" *ngIf="alertService.globalSearching.length > 0">
        <ion-spinner></ion-spinner>
        <p class="mt-2">{{alertService.globalSearchingText}}</p>
      </div>
    </ion-router-outlet>
  </ion-split-pane>
</ion-app>
<!-- 
<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app> -->