<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="botondeAtras">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Presupuestos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="body" *ngIf="ready">

    <!-- <div class="boxAlert error" *ngIf="ready && !searching && Pautas.length == 0">
        No se han encontrado pautas
      </div> -->

    <div class="paddingGenerico">

      <form [formGroup]="myForm">

        <ion-item>
          <ion-label>Numero de serie</ion-label>
          <ion-select formControlName="Serie" [(ngModel)]="Presupuesto.Serie" interface="popover" [disabled]="buscando">
            <ion-select-option *ngFor="let item of series" [value]="item.Serie">
              {{item.Serie}}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label>Presupuesto</ion-label>
          <ion-input formControlName="Presupuesto" [(ngModel)]="Presupuesto.Presupuesto" [disabled]="buscando"></ion-input>
        </ion-item>

        <ion-button (click)="buscarPresupuesto();" *ngIf="!buscando" [disabled]="!(Presupuesto.Presupuesto != undefined && Presupuesto.Presupuesto != null && Presupuesto.Presupuesto != '')">Buscar</ion-button>
        <ion-button (click)="cancelarBusquedaPresupuesto();" *ngIf="buscando">Cancelar busqueda</ion-button>

        <ion-list *ngIf="buscando">

          <ion-title>Clientes</ion-title>
          <ion-item>
            <ion-label>Nuestro cliente: {{Presupuesto.NuestroCliente}} - {{Presupuesto.nuestroClienteRazonSocial}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Su presupuesto: {{Presupuesto.SuPresupuesto}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Su cliente: {{Presupuesto.SuCliente}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Nombre cliente: {{Presupuesto.NombreCliente}}</ion-label>
          </ion-item>

          <ion-title>Documentos</ion-title>
          <ion-item>
            <ion-label>Selecciona el tipo de fichero a subir</ion-label>
          </ion-item>

          <ion-item>
            <ion-button (click)="loadArchivos('Instalaciones');" [ngClass]="{ 'botonSeleccionado': carpetaFicheros == 'Instalaciones'}">Instalaciones</ion-button>
            <ion-button (click)="loadArchivos('Conformes');" [ngClass]="{ 'botonSeleccionado': carpetaFicheros == 'Conformes'}">OTT</ion-button>
            <ion-button (click)="loadArchivos('Medidas');" [ngClass]="{ 'botonSeleccionado': carpetaFicheros == 'Medidas'}">Hoja de medidas</ion-button>
          </ion-item>

          <ion-item *ngIf="carpetaFicheros != undefined && carpetaFicheros != null && carpetaFicheros != ''">
            <ion-button (click)="performClick('inputFile')" >Subir ficheros</ion-button>

            <input id="inputFile" style="display: none;" multiple type="file" no-margin formControlName="doc" onchange="callbackSubirFichero();"
            />
          </ion-item>

          <ion-item *ngIf="carpetaFicheros != undefined && carpetaFicheros != null && carpetaFicheros != ''">
            <ion-checkbox formControlName="MantenerNombres" [(ngModel)]="mantenerNombres"></ion-checkbox>
            <ion-label>Mantener nombre original de los ficheros</ion-label>
          </ion-item>

          <ion-item *ngFor="let fic of Presupuesto.archivos">
            <ion-label (click)="descargarFichero(fic);">{{fic.Nombre}}</ion-label>
            <ion-button (click)="borrarFichero(fic)" >Borrar fichero</ion-button>
          </ion-item>

        </ion-list>

      </form>

    </div>
  </div>
</ion-content>